body{
    margin:0;
    padding:0;
    
}


#app{
    width:100%;
    height:100%;
}

.navbar{
    width:100%;
    height:10%;
    background-color:white;
    border-bottom:1px solid lightgray;
}

.mainBody{
    width:100%;
    height:90%;
    background-color:#333333;
    display:flex;
    align-items: center;
    justify-content: center;;
}


.inputContainer{
    width:70%;
    height:85%;
    background-color:white;
    border:1px ridge gray;
    border-radius: 4px;
}

.inputText{
    width:100%;
    height:100%;
    background-color:#1E1E1E;
    color:#FFFFFF;
}

.navbarFirstHalf{
    background-color:#FFFFFF;
    width:100%;
    height:50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbarSecondHalf{
    background-color:#F0F0F0;
    width:100%;
    height:50%;
}

.title{
    margin-left:2%;
}