<template>
  <div class="tinyRpg">
    <div class="navbar" >
      <button  v-on:click="buttonPeople" class="navbarButton">People</button>
      <button class="navbarButton">Dummy</button>
      <button class="navbarButton">Dummy</button>
      <button class="navbarButton">Dummy</button>
    </div>
    <div class="main" >
      <div class="peopleContainer">
        <ol>
          <li  v-bind:key="person.id" v-for="person in people" class="person">
              {{person["first_name"]}} {{person["last_name"]}}
              <ul>
                age: {{person.age}}
              </ul>
              <ul> brainpower: {{person.brainpower}}
               
                </ul>
                <ul>
                     energy: {{person.energy}}
                </ul>
        </li>
        </ol>
      </div>
    </div>
    <div class="footer" ></div>
  </div>
</template>

<script>

import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);

export default {
  name: "tinyRpgMain",
  data: function(){
    return{
      people:'',
      url: 'http://192.168.114.40:8000'
    }
  },
  methods:{
    buttonPeople: function(){
      console.log("people clickeddd!!");
      Vue.axios
      .get(this.url+'/comm')
      .then(response => {
        console.log(response);
        this.people = response.data.People;
      })
      .catch(function(error) {
        console.log(error);
       // this.serverNotResponding = true;
      });
    }
  }
};
</script>

<style scoped>

  .tinyRpg{
    height:100%;
    width:100%;
  }

  .footer{
    height:5%;
    width:100%;
    background-color:#116466;
  }

  .main{
    height:90%;
    width:100%;
    background-color:#D1E8E2;
  }

  .navbar{
    height:5%;
    width:100%;
    background-color:#2C3531;
    display:flex;
    align-items: center;
  }

  .navbarButton{
    height:80%;
    width:10%;
    background-color:#D9B08C;
    margin-left:2%;
    margin-right:2%;
    border-radius:4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size:1.3em;
   
  }

</style>
