<html>

<head>
    <!-- We include the vue core library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./VueLib/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="PhotoGallery.css">
</head>

<body>
    <div id="app">
        <div v-for="photo in photos" class="photoContainer">
            <img v-bind:src="photo.url">
        </div>
    </div>
    <!-- We include our application javascript code -->
    <script src="PhotoGallery.js"></script>
</body>

</html>