body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

#app{
   display:flex;
   flex-wrap: wrap;
}

.photoContainer{
    width:15%;
    height:15%;
    margin:2%;
    margin-top:1%;
}

img{
    width: 100%;
    height:100%;
}