<template>
  <div id="app">
    <tinyRpgMain></tinyRpgMain>
  </div>
</template>

<script>
import tinyRpgMain from './components/tinyRpgMain.vue'
import Person from './components/Person.vue'

export default {
  name: 'app',
  components: {
    tinyRpgMain,Person
  }
}
</script>

<style>
html,body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  
}
#app {
  width:100%;
  height:100%;
  
}
</style>
