<template>
  <div id="app">
    <h1>Simple routing here!</h1>
      <p>
          <router-link to="/page1">Go to Page1</router-link>
          <router-link to="/page2"> Go to Page2</router-link>
      </p>
       <router-view></router-view>
  </div>
</template>

<script>

import Main from './components/Main.vue'
import Vue from 'vue'
import VueRouter from 'vue-router'

Vue.use(VueRouter)

//1.route components
const Page1 = {template:'<div> page 1!!!!</div>'}
const Page2 = {template:'<div> page 2!!!!</div>'}

//2.routes definition
// each route should map to a component
const routes = [
    {path:'/page1',component: Page1},
    {path:'/page2',component: Page2}
]

//3. route instance creation and routes option passing
const router = new VueRouter({
    routes:routes
})

export default {
  name: 'app',
  components: {
    Main,router
  },
  
}
</script>

<style>

html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

#app {
  width:100%;
  height:100%;
 
}
</style>
