<html>
    <head> 
            <!-- We include the vue core library -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            
            <script src="./VueLib/vue.js"></script>
            
    </head>
    <body>

            <h2>app1</h2>
            <div id="app">
                    {{message}}
            </div>

            <h2>app2</h2>
            <div id="app-2">
                <span v-bind:title="message">
                        Hover your mouse over me for a few seconds
                        to see my dynamically bound title!
                </span>
                <!-- {{message}} -->
            </div>

            <h2>app3</h2>
            <div id="app-3">
                <span v-if="seen">Now you see me</span>
            </div>

            <h2>app4</h2>
            <div id="app-4">
                <ol>
                    <li v-for="todo in todos" >
                        {{todo.text}}
                    </li>
                </ol>
            </div>

            <h2>app5</h2>
            <div id="app-5">
                <p>{{message}}</p>
                <!-- event listener! -->
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>

            <div id="app-6">
                <p>{{message}}</p>
                <!-- two way data binding! -->
                <input v-model="message"> 
            </div>

            <div id="app-7">
                <ol>
                        <alex-selector
                        v-for="item in studyList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                        </alex-selector>
                </ol>
            </div>

            <!-- We include our application javascript code -->
            <script src="app.js"></script>
    </body>
</html>