<template>
    <div id="app">
        <div class="navbar">
            <div class="navbarFirstHalf title">
                Online Editor
            </div>
            <div class="navbarSecondHalf">
                <!-- <span  class="warning" >Server is not responding</span> -->
            </div>
        </div>
        <div class="mainBody">
            <div class="inputContainer">
                <textarea ref="textArea"  v-model="text" v-on:keydown="keyDown" class="inputText"  placeholder="Type your text here..."></textarea>
            </div>
        </div>
        <div class="footer"><div class="footerText" > Backend - Chris Athinaiou  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Frontend - Alex Rasidakis</div></div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
//asdsadasdasdas dummy testsadasdas testranch
export default {
  name: "OnlineEditor",
  data: function() {
    return {
      text: " ",
      serverUrl: "http://192.168.114.60:8080"
    };
  },
  methods: {
    keyDown: function(event) {
      //console.log(event);
     console.log(this.$refs);``

      var object = {
        index: this.text.length,
        value: event.key
      };

      if (event.key === "Enter") {
        object.value = "\n";
      }

      console.log(object);

      Vue.axios
        .post(this.serverUrl + "/add/string", object)
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  mounted() {
    Vue.axios
      .get(this.serverUrl + "/get/string")
      .then(response => {
        this.text = response.data;
        //console.log(response);
      })
      .catch(function(error) {
        console.log(error);
        // this.serverNotResponding = true;
      });
      console.log("textareaaaa00");
     
  }
};
// axios.post('http://192.168.114.60:8080/add/string', {
</script>




<style scoped>
.navbar {
  width: 100%;
  height: 10%;
  background-color: white;
  /* border-bottom: 1px solid lightgray; */
}

.mainBody {
  width: 100%;
  height: 87%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 3%;
  background-color: #007acc;
  text-align: right;
  color: white;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footerText {
  margin-left: 3%;
}

.inputContainer {
  width: 70%;
  height: 85%;
  background-color: white;
  border: 1px ridge gray;
  border-radius: 4px;
}

.inputText {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
}

.navbarFirstHalf {
  background-color: #ffffff;
  width: 100%;
  height: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbarSecondHalf {
  background-color: #f0f0f0;
  width: 100%;
  height: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.warning {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  color: #ea4446;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2em;
}
</style>
