<html>
    <head> 
            <!-- We include the vue core library -->
            <script src="./VueLib/vue.js"></script>
    </head>
    <body>


            <div id="app">
                attribute:{{attribute}}
                newProperty:{{newProperty}}
            </div>

            <h2>Object freeze app test</h2>
            <div id="objectFreezeApp">
                <p>{{foo}}</p>
                <button v-on:click="foo='alex'">Change me</button>
            </div>

            <!-- We include our application javascript code -->
            <script src="dataReactivitySystem+LifeCycleHooks.js"></script>
    </body>
</html>