<html>
    <head> 
            <!-- We include the vue core library -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="./VueLib/vue.js"></script>
    </head>
    <body>
                
        <div id="app">
            {{response}}
        </div>

            <!-- We include our application javascript code -->
            <script src="httpRequests.js"></script>
    </body>
</html>