<html>
    <head> 
            <!-- We include the vue core library -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="./VueLib/vue.js"></script>
    </head>
    <body>
                
        <div id="app">
            <h1> Computed Properties</h1>
           <h2>original message: {{message}}</h2>
           <h2>computed message (reversed): {{reversedMessage}}</h2>
           <h2>computed message (reversed to   capital): {{revCapMessage}}</h2>
           <h2>reversed message but from a function call: {{reversedMessageFunc()}}</h2>
        </div>

        <br>

        <div id="watchApp">
            <h1>Watch Properties</h1>
            <h2>{{fullName}}</h2>
        </div>

        <br>

        <div id ="computedApp">
            <h1>Computed app doing the same work as watch sometimes but with less cost</h1>
            <h2>{{fullName}}</h2>

        </div>

        <br>

        <div id="computedSetGet">
            <h1>Computed: Setters and Getters</h1>
            <h2>{{fullName}}</h2>
        </div>

            <!-- We include our application javascript code -->
            <script src="computedProperties.js"></script>
    </body>
</html>