<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <online-editor></online-editor>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import OnlineEditor from './components/OnlineEditor.vue'


export default {
  name: 'app',
  components: {
    HelloWorld,OnlineEditor
  },
 
}
</script>

<style>
html,body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  
}
#app {
  width:100%;
  height:100%;
  
  background-color:Red;
}


</style>
