<template>
  <div id="app">
    <div class="outputSection">
      <h1>Output Section</h1>
    </div>
    <div class="inputSection" >
      <h1>Input Section</h1>
      <input v-model="text" >
      <button v-on:click="addToDB" >Add to DataBase</button>
    </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);

export default {
  name: "app",
  components: {
    HelloWorld
  },
  data:{
    text:' ',
    DBurl:'https://test-78acd.firebaseio.com'
  },
  methods:{
    addToDB:function(){
      console.log("ADD TO DB CLICKED BABE!"+this.text);

      var object = {
        id:'test',
        value:this.text
      };

      if(this.text!=undefined){
        Vue.axios
        .post('https://test-78acd.firebaseio.com/texts.json', object)
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
      }else{
        console.log("Cannot send undefined text!");
      }


    },
    getFromDB: function(){
      console.log("getFromDB called!");
      Vue.axios
        .get('https://test-78acd.firebaseio.com/texts')
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  mounted(){
    getFromDB();
  }
};
</script>

<style>
html,
body {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y:hidden;
  overflow-x:hidden;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

.inputSection {
  width: 50%;
  height: 100%;
  padding:1%;
}

.outputSection {
  width: 50%;
  height: 100%;
  border-right:1px solid black;
  padding:1%;
}

</style>
